* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	color: #555;
	font-size: 16px;
	font-weight: 400;
	font-family: Open Sans;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.right { float: right; }
.red { color: #FF5049 !important}
.red-focus:focus { border: 1px solid #FF5049 !important}

/* top */

.top {
	background-image: url(bg.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: top;
	height: 48vh;
	position: relative;
	color: #fff;
}

.budget {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.budget__title {
	font-size: 24px;
	text-align: center;
	margin-bottom: 10px;
	font-weight: 300;
}

.budget__value {
	text-align: center;
	font-weight: 300;
	font-size: 46px;
	margin-bottom: 25px;
	letter-spacing: 2px;
}

.budget__income,
.budget__expenses {
	padding: 12px;
	text-transform: uppercase;
	width: 350px;
}

.budget__income {
	background-color: #28B9B5;
	margin-bottom: 10px;
}

.budget__expenses {
	background-color: #FF5049;
}

.budget__income--text,
.budget__expenses--text {
	float: left;
	margin-top: 2px;
	color: #444;
	font-size: 13px;
}

.budget__income--value,
.budget__expenses--value {
	float: left;
	margin-right: 15px;
}

.budget__income--percentage,
.budget__expenses--percentage {
	float: left;
    width: 34px;
    font-size: 11px;
    padding: 3px 0;
    margin-left: 10px;
}

.budget__expenses--percentage {
	background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    border-radius: 3px;
}

/* bottom */

/* form */

.add {
	background-color: #f7f7f7;
	border-bottom: 1px solid #e7e7e7;
	padding: 14px;
}

.add__container {
	margin: 0 auto;
	text-align: center;
}

.add__type {
	width: 55px;
	border: 1px solid #e7e7e7;
	height: 40px;
	font-size: 18px;
	background-color: #fff;
	transition: border 0.4s;
	margin-right: 10px;
}

.add__description,
.add__value {
	border: 1px solid #e7e7e7;
	background-color: #fff;
	font-size: 14px;
	padding: 12px 15px;
	margin-right: 10px;
	border-radius: 5px;
	transition: border 0.4s;
	font-family: inherit;
	color: inherit;
}

.add__description { width: 400px;}
.add__value { width: 100px;}

.add__btn {
	background: none;
	font-size: 35px;
	color: #28B9B5;
	cursor: pointer;
	border: none;
	vertical-align: middle;
	margin-left: 10px;
}

.add__btn:active,
.item__delete--btn:active { transform: translateY(2px); }

.add__btn:focus {outline: none;}

.add__type:focus,
.add__description:focus,
.add__value:focus {
	border: 1px solid #28B9B5;
	outline: none;
}

/*lists*/

.container {
	width: 80%;
	margin: 60px auto;
}

.income {
	float: left;
	width: 47%;
	margin-right: 6%;
}

.expenses {
	float: left;
	width: 47%;
}

h2 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
}

.income__title { color: #28B9B5; }
.expenses__title { color: #FF5049; }

.item {
	padding: 13px;
	border-bottom: 1px solid #e7e7e7;
}

.item:first-child { border-top: 1px solid #e7e7e7; }
.item:nth-child(even) { background-color: #f7f7f7; }

.item__description {
    float: left;
}

.item__value {
    float: left;
    transition: transform 0.4s;
}

.item__delete {
    float: left;
}

.income .item__value,
.income .item__delete--btn {
	color: #28B9B5;
}

.expenses .item__value,
.expenses .item__delete--btn {
    color: #FF5049;
}

.item__delete--btn {
	font-size: 22px;
	background: none;
	border: none;
	cursor: pointer;
	line-height: 1;
	display: none;
}

.item:hover .item__delete--btn { display: block; }
.item:hover .item__value { transform: translateX(-20px); }

.unpaid {
    background-color: #FFDAD9 !important;
    cursor: pointer;
    color: #FF5049;
}

.unpaid:hover .item__description { font-weight: 900; }

